<!-- cutoff_analysis.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>JOSAA Analyser</title>
    <link rel="shortcut icon" href="http://127.0.0.1:8000/logo" type="image/x-icon">
</head>

<style>
    body {
        box-sizing: border-box;
        width: 100%;
        overflow: hidden;
        padding-bottom: 70vh;
        background-color: rgb(207, 207, 183);
        background-image: url(http://127.0.0.1:8000/wall);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .main {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 60px;
        padding-right: 60px;
        color: black;
    }

    .head {
        padding-left: 80px;
    }

    /*------------------*/
    .cont_1 {
        margin-top: 0px;
        margin-right: 20px;
        padding-top: 10px;
        padding-bottom: 40px;
        padding-left: 30px;
        position: relative;
    }

    .sub {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .group,
    .cat-group,
    .year-group,
    .round-group,
    .gender-group {
        margin-right: 2vw;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="number"],
    select {
        width: 100%;
        padding: 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    button {
        position: relative;
        margin-top: 20px;
        padding: 9px 20px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        z-index: 999;
    }

    button:hover {
        background-color: #45a049;
    }

    /*----------------------------------------------------------------*/

    .cont_2 {
        margin-top: 0px;
        padding: 20px;
        color: black;
        height: 400px;
        overflow: auto;
    }

    table {
        width: 100%;
        border-collapse: separate;
        table-layout: fixed;
    }

    table th,
    table td {
        padding: 8px;
        text-align: center;
        border: 2px solid black;
        border-radius: 5px;
    }

    tr {
        border: 1px solid black;
        border-radius: 5px;
    }

    /*-------------------------------------------------*/
    .navbar {
        background-color: #333;
        height: 10vh;
        margin-top: -9px;
        margin-left: -8px;
        margin-right: -100px;
    }

    .nav-list {
        list-style-type: none;
        padding-top: 40px;
        margin: 0;
        padding: 0;
        margin-left: 80px;
        display: flex;
        font-size: large;
    }

    .nav-list li {
        margin-right: 100px;
        padding-top: 20px;
        font-weight: 400;
    }

    .nav-list li a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
    }

    .nav-list li a:hover {
        color: #f2f2f2;
    }

    /*----------------------------------------------------*/
</style>


<body>
    <nav class="navbar">
        <ul class="nav-list" style="cursor: pointer;">
            <li><a onclick="window.location.href='http://127.0.0.1:8000'">Home</a></li>
        </ul>
    </nav>
    <div class="head">
        <h1>Branch Classifier</h1>
    </div>
    <div class="main">
        <form method="post" class="cont_1">
            {% csrf_token %}
            <div class="sub">
                <div class="group"><label for="branch">Branch Name:</label>
                    <select id="branch" name="branch" oninput="toggleGenderField()">
                        <option value="none" selected disabled hidden>Select a branch</option>
                        <option value="Aerospace Engineering (4 Years, Bachelor of Technology)">Aerospace Engineering (4
                            Years, Bachelor of Technology)</option>
                        <option
                            value="Aerospace Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Aerospace Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
                        <option value="Agricultural and Food Engineering (4 Years, Bachelor of Technology)">Agricultural
                            and Food Engineering (4 Years, Bachelor of Technology)</option>
                        <option
                            value="Agricultural and Food Engineering with M.Tech. in any of the listed specializations (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Agricultural and Food Engineering with M.Tech. in any of the listed specializations (5
                            Years, Bachelor and Master of Technology (Dual Degree))</option>
                        <option value="Applied Geology (4 Years, Bachelor of Science)">Applied Geology (4 Years,
                            Bachelor of Science)</option>
                        <option value="Applied Geology (5 Years, Integrated Master of Science)">Applied Geology (5
                            Years, Integrated Master of Science)</option>
                        <option value="Applied Geology (5 Years, Integrated Master of Technology)">Applied Geology (5
                            Years, Integrated Master of Technology)</option>
                        <option value="Applied Geophysics (5 Years, Integrated Master of Technology)">Applied Geophysics
                            (5 Years, Integrated Master of Technology)</option>
                        <option value="Applied Mathematics (5 Years, Integrated Master of Science)">Applied Mathematics
                            (5 Years, Integrated Master of Science)</option>
                        <option value="Architecture (5 Years, Bachelor of Architecture)">Architecture (5 Years, Bachelor
                            of Architecture)</option>
                        <option value="Artificial Intelligence (4 Years, Bachelor of Technology)">Artificial
                            Intelligence (4 Years, Bachelor of Technology)</option>
                        <option value="Artificial Intelligence and Data Science (4 Years, Bachelor of Technology)">
                            Artificial Intelligence and Data Science (4 Years, Bachelor of Technology)</option>
                        <option value="BS in Mathematics (4 Years, Bachelor of Science)">BS in Mathematics (4 Years,
                            Bachelor of Science)</option>
                        <option value="Bio Engineering (4 Years, Bachelor of Technology)">Bio Engineering (4 Years,
                            Bachelor of Technology)</option>
                        <option value="Bio Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))">Bio
                            Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
                        <option value="Bio Technology (4 Years, Bachelor of Technology)">Bio Technology (4 Years,
                            Bachelor of Technology)</option>
                        <option
                            value="Biochemical Engineering and Biotechnology (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Biochemical Engineering and Biotechnology (5 Years, Bachelor and Master of Technology (Dual
                            Degree))</option>
                        <option
                            value="Biochemical Engineering with M.Tech. in Biochemical Engineering and Biotechnology (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Biochemical Engineering with M.Tech. in Biochemical Engineering and Biotechnology (5 Years,
                            Bachelor and Master of Technology (Dual Degree))</option>
                        <option
                            value="Bioengineering with M.Tech in Biomedical Technology (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Bioengineering with M.Tech in Biomedical Technology (5 Years, Bachelor and Master of
                            Technology (Dual Degree))</option>
                        <option
                            value="Biological Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Biological Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
                        <option
                            value="Biological Sciences (5 Years, Bachelor of Science and Master of Science (Dual Degree))">
                            Biological Sciences (5 Years, Bachelor of Science and Master of Science (Dual Degree))
                        </option>
                        <option value="Biological Sciences and Bioengineering (4 Years, Bachelor of Technology)">
                            Biological Sciences and Bioengineering (4 Years, Bachelor of Technology)</option>
                        <option value="Biomedical Engineering (4 Years, Bachelor of Technology)">Biomedical Engineering
                            (4 Years, Bachelor of Technology)</option>
                        <option value="Biosciences and Bioengineering (4 Years, Bachelor of Technology)">Biosciences and
                            Bioengineering (4 Years, Bachelor of Technology)</option>
                        <option value="Biotechnology and Biochemical Engineering (4 Years, Bachelor of Technology)">
                            Biotechnology and Biochemical Engineering (4 Years, Bachelor of Technology)</option>
                        <option
                            value="Biotechnology and Biochemical Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Biotechnology and Biochemical Engineering (5 Years, Bachelor and Master of Technology (Dual
                            Degree))</option>
                        <option value="Biotechnology and Bioinformatics (4 Years, Bachelor of Technology)">Biotechnology
                            and Bioinformatics (4 Years, Bachelor of Technology)</option>
                        <option value="Ceramic Engineering (4 Years, Bachelor of Technology)">Ceramic Engineering (4
                            Years, Bachelor of Technology)</option>
                        <option value="Ceramic Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Ceramic Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
                        <option value="Chemical Engineering (4 Years, Bachelor of Technology)">Chemical Engineering (4
                            Years, Bachelor of Technology)</option>
                        <option value="Chemical Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Chemical Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
                        <option value="Chemical Science and Technology (4 Years, Bachelor of Technology)">Chemical
                            Science and Technology (4 Years, Bachelor of Technology)</option>
                        <option
                            value="Chemical Sciences (5 Years, Bachelor of Science and Master of Science (Dual Degree))">
                            Chemical Sciences (5 Years, Bachelor of Science and Master of Science (Dual Degree))
                        </option>
                        <option value="Chemical and Biochemical Engineering (4 Years, Bachelor of Technology)">Chemical
                            and Biochemical Engineering (4 Years, Bachelor of Technology)</option>
                        <option value="Chemistry (4 Years, Bachelor of Science)">Chemistry (4 Years, Bachelor of
                            Science)</option>
                        <option value="Chemistry (5 Years, Integrated Master of Science)">Chemistry (5 Years, Integrated
                            Master of Science)</option>
                        <option value="Chemistry with Specialization (4 Years, Bachelor of Science)">Chemistry with
                            Specialization (4 Years, Bachelor of Science)</option>
                        <option value="Civil Engineering (4 Years, Bachelor of Technology)">Civil Engineering (4 Years,
                            Bachelor of Technology)</option>
                        <option value="Civil Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Civil Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
                        <option
                            value="Civil Engineering and M. Tech. in Structural Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Civil Engineering and M. Tech. in Structural Engineering (5 Years, Bachelor and Master of
                            Technology (Dual Degree))</option>
                        <option
                            value="Civil Engineering and M.Tech in Transportation Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Civil Engineering and M.Tech in Transportation Engineering (5 Years, Bachelor and Master of
                            Technology (Dual Degree))</option>
                        <option
                            value="Civil Engineering and M.Tech. in Environmental Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Civil Engineering and M.Tech. in Environmental Engineering (5 Years, Bachelor and Master of
                            Technology (Dual Degree))</option>
                        <option
                            value="Civil Engineering with M.Tech. in Structural Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Civil Engineering with M.Tech. in Structural Engineering (5 Years, Bachelor and Master of
                            Technology (Dual Degree))</option>
                        <option
                            value="Civil Engineering with any of the listed specialization (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Civil Engineering with any of the listed specialization (5 Years, Bachelor and Master of
                            Technology (Dual Degree))</option>
                        <option value="Civil and Infrastructure Engineering (4 Years, Bachelor of Technology)">Civil and
                            Infrastructure Engineering (4 Years, Bachelor of Technology)</option>
                        <option value="Computational Engineering (4 Years, Bachelor of Technology)">Computational
                            Engineering (4 Years, Bachelor of Technology)</option>
                        <option value="Computer Science and Engineering (4 Years, Bachelor of Technology)">Computer
                            Science and Engineering (4 Years, Bachelor of Technology)</option>
                        <option
                            value="Computer Science and Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Computer Science and Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))
                        </option>
                        <option value="Data Science and Artificial Intelligence (4 Years, Bachelor of Technology)">Data
                            Science and Artificial Intelligence (4 Years, Bachelor of Technology)</option>
                        <option value="Data Science and Engineering (4 Years, Bachelor of Technology)">Data Science and
                            Engineering (4 Years, Bachelor of Technology)</option>
                        <option value="Earth Sciences (4 Years, Bachelor of Science)">Earth Sciences (4 Years, Bachelor
                            of Science)</option>
                        <option value="Economics (4 Years, Bachelor of Science)">Economics (4 Years, Bachelor of
                            Science)</option>
                        <option value="Economics (5 Years, Bachelor of Science and Master of Science (Dual Degree))">
                            Economics (5 Years, Bachelor of Science and Master of Science (Dual Degree))</option>
                        <option value="Economics (5 Years, Integrated Master of Science)">Economics (5 Years, Integrated
                            Master of Science)</option>
                        <option value="Electrical Engineering (4 Years, Bachelor of Technology)">Electrical Engineering
                            (4 Years, Bachelor of Technology)</option>
                        <option
                            value="Electrical Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Electrical Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
                        <option
                            value="Electrical Engineering (IC Design and Technology) (4 Years, Bachelor of Technology)">
                            Electrical Engineering (IC Design and Technology) (4 Years, Bachelor of Technology)</option>
                        <option value="Electrical Engineering (Power and Automation) (4 Years, Bachelor of Technology)">
                            Electrical Engineering (Power and Automation) (4 Years, Bachelor of Technology)</option>
                        <option
                            value="Electrical Engineering and M.Tech Power Electronics and Drives (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Electrical Engineering and M.Tech Power Electronics and Drives (5 Years, Bachelor and Master
                            of Technology (Dual Degree))</option>
                        <option
                            value="Electrical Engineering with M.Tech. in Communications and Signal Processing (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Electrical Engineering with M.Tech. in Communications and Signal Processing (5 Years,
                            Bachelor and Master of Technology (Dual Degree))</option>
                        <option
                            value="Electrical Engineering with M.Tech. in Microelectronics (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Electrical Engineering with M.Tech. in Microelectronics (5 Years, Bachelor and Master of
                            Technology (Dual Degree))</option>
                        <option
                            value="Electrical Engineering with M.Tech. in Power Electronics (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Electrical Engineering with M.Tech. in Power Electronics (5 Years, Bachelor and Master of
                            Technology (Dual Degree))</option>
                        <option
                            value="Electrical Engineering with M.Tech. in any of the listed specializations (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Electrical Engineering with M.Tech. in any of the listed specializations (5 Years, Bachelor
                            and Master of Technology (Dual Degree))</option>
                        <option value="Electrical and Electronics Engineering (4 Years, Bachelor of Technology)">
                            Electrical and Electronics Engineering (4 Years, Bachelor of Technology)</option>
                        <option value="Electronics Engineering (4 Years, Bachelor of Technology)">Electronics
                            Engineering (4 Years, Bachelor of Technology)</option>
                        <option value="Electronics and Communication Engineering (4 Years, Bachelor of Technology)">
                            Electronics and Communication Engineering (4 Years, Bachelor of Technology)</option>
                        <option
                            value="Electronics and Electrical Communication Engineering (4 Years, Bachelor of Technology)">
                            Electronics and Electrical Communication Engineering (4 Years, Bachelor of Technology)
                        </option>
                        <option
                            value="Electronics and Electrical Communication Engineering with M.Tech. in any of the listed specializations (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Electronics and Electrical Communication Engineering with M.Tech. in any of the listed
                            specializations (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
                        <option value="Electronics and Electrical Engineering (4 Years, Bachelor of Technology)">
                            Electronics and Electrical Engineering (4 Years, Bachelor of Technology)</option>
                        <option value="Electronics and Instrumentation Engineering (4 Years, Bachelor of Technology)">
                            Electronics and Instrumentation Engineering (4 Years, Bachelor of Technology)</option>
                        <option value="Energy Engineering (4 Years, Bachelor of Technology)">Energy Engineering (4
                            Years, Bachelor of Technology)</option>
                        <option
                            value="Energy Engineering with M.Tech. in Energy Systems Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Energy Engineering with M.Tech. in Energy Systems Engineering (5 Years, Bachelor and Master
                            of Technology (Dual Degree))</option>
                        <option value="Engineering Design (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Engineering Design (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
                        <option value="Engineering Physics (4 Years, Bachelor of Technology)">Engineering Physics (4
                            Years, Bachelor of Technology)</option>
                        <option value="Engineering Physics (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Engineering Physics (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
                        <option value="Engineering Physics (5 Years, Integrated Master of Technology)">Engineering
                            Physics (5 Years, Integrated Master of Technology)</option>
                        <option
                            value="Engineering Physics and M.Tech. with specialization in Nano Science (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Engineering Physics and M.Tech. with specialization in Nano Science (5 Years, Bachelor and
                            Master of Technology (Dual Degree))</option>
                        <option value="Engineering Science (4 Years, Bachelor of Technology)">Engineering Science (4
                            Years, Bachelor of Technology)</option>
                        <option value="Engineering and Computational Mechanics (4 Years, Bachelor of Technology)">
                            Engineering and Computational Mechanics (4 Years, Bachelor of Technology)</option>
                        <option value="Environmental Engineering (4 Years, Bachelor of Technology)">Environmental
                            Engineering (4 Years, Bachelor of Technology)</option>
                        <option
                            value="Environmental Science and Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Environmental Science and Engineering (5 Years, Bachelor and Master of Technology (Dual
                            Degree))</option>
                        <option value="Exploration Geophysics (4 Years, Bachelor of Science)">Exploration Geophysics (4
                            Years, Bachelor of Science)</option>
                        <option value="Exploration Geophysics (5 Years, Integrated Master of Science)">Exploration
                            Geophysics (5 Years, Integrated Master of Science)</option>
                        <option value="Geological Technology (5 Years, Integrated Master of Technology)">Geological
                            Technology (5 Years, Integrated Master of Technology)</option>
                        <option value="Geophysical Technology (5 Years, Integrated Master of Technology)">Geophysical
                            Technology (5 Years, Integrated Master of Technology)</option>
                        <option value="Industrial Chemistry (4 Years, Bachelor of Technology)">Industrial Chemistry (4
                            Years, Bachelor of Technology)</option>
                        <option value="Industrial Chemistry (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Industrial Chemistry (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
                        <option value="Industrial Chemistry (5 Years, Integrated Master of Technology)">Industrial
                            Chemistry (5 Years, Integrated Master of Technology)</option>
                        <option value="Industrial and Systems Engineering (4 Years, Bachelor of Technology)">Industrial
                            and Systems Engineering (4 Years, Bachelor of Technology)</option>
                        <option
                            value="Industrial and Systems Engineering with M.Tech. in Industrial and Systems Engineering and Management (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Industrial and Systems Engineering with M.Tech. in Industrial and Systems Engineering and
                            Management (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
                        <option value="Instrumentation Engineering (4 Years, Bachelor of Technology)">Instrumentation
                            Engineering (4 Years, Bachelor of Technology)</option>
                        <option
                            value="Interdisciplinary Sciences (5 Years, Bachelor of Science and Master of Science (Dual Degree))">
                            Interdisciplinary Sciences (5 Years, Bachelor of Science and Master of Science (Dual
                            Degree))</option>
                        <option value="Manufacturing Science and Engineering (4 Years, Bachelor of Technology)">
                            Manufacturing Science and Engineering (4 Years, Bachelor of Technology)</option>
                        <option
                            value="Manufacturing Science and Engineering with M.Tech. in Industrial and Systems Engineering and Management (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Manufacturing Science and Engineering with M.Tech. in Industrial and Systems Engineering and
                            Management (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
                        <option value="Materials Engineering (4 Years, Bachelor of Technology)">Materials Engineering (4
                            Years, Bachelor of Technology)</option>
                        <option value="Materials Science and Engineering (4 Years, Bachelor of Technology)">Materials
                            Science and Engineering (4 Years, Bachelor of Technology)</option>
                        <option
                            value="Materials Science and Metallurgical Engineering (4 Years, Bachelor of Technology)">
                            Materials Science and Metallurgical Engineering (4 Years, Bachelor of Technology)</option>
                        <option
                            value="Materials Science and Technology (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Materials Science and Technology (5 Years, Bachelor and Master of Technology (Dual Degree))
                        </option>
                        <option
                            value="Mathematics & Computing (5 Years, Bachelor of Science and Master of Science (Dual Degree))">
                            Mathematics & Computing (5 Years, Bachelor of Science and Master of Science (Dual Degree))
                        </option>
                        <option value="Mathematics and Computing (4 Years, Bachelor of Science)">Mathematics and
                            Computing (4 Years, Bachelor of Science)</option>
                        <option value="Mathematics and Computing (4 Years, Bachelor of Technology)">Mathematics and
                            Computing (4 Years, Bachelor of Technology)</option>
                        <option
                            value="Mathematics and Computing (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Mathematics and Computing (5 Years, Bachelor and Master of Technology (Dual Degree))
                        </option>
                        <option value="Mathematics and Computing (5 Years, Integrated Master of Science)">Mathematics
                            and Computing (5 Years, Integrated Master of Science)</option>
                        <option value="Mathematics and Computing (5 Years, Integrated Master of Technology)">Mathematics
                            and Computing (5 Years, Integrated Master of Technology)</option>
                        <option value="Mathematics and Scientific Computing (4 Years, Bachelor of Science)">Mathematics
                            and Scientific Computing (4 Years, Bachelor of Science)</option>
                        <option value="Mechanical Engineering (4 Years, Bachelor of Technology)">Mechanical Engineering
                            (4 Years, Bachelor of Technology)</option>
                        <option
                            value="Mechanical Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Mechanical Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
                        <option
                            value="Mechanical Engineering and M. Tech. in Mechanical System Design (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Mechanical Engineering and M. Tech. in Mechanical System Design (5 Years, Bachelor and
                            Master of Technology (Dual Degree))</option>
                        <option
                            value="Mechanical Engineering and M. Tech. in Thermal Science & Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Mechanical Engineering and M. Tech. in Thermal Science & Engineering (5 Years, Bachelor and
                            Master of Technology (Dual Degree))</option>
                        <option
                            value="Mechanical Engineering and M.Tech. in Computer Integrated Manufacturing (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Mechanical Engineering and M.Tech. in Computer Integrated Manufacturing (5 Years, Bachelor
                            and Master of Technology (Dual Degree))</option>
                        <option
                            value="Mechanical Engineering with M.Tech. in Manufacturing Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Mechanical Engineering with M.Tech. in Manufacturing Engineering (5 Years, Bachelor and
                            Master of Technology (Dual Degree))</option>
                        <option
                            value="Mechanical Engineering with M.Tech. in any of the listed specializations (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Mechanical Engineering with M.Tech. in any of the listed specializations (5 Years, Bachelor
                            and Master of Technology (Dual Degree))</option>
                        <option value="Mechatronics Engineering (4 Years, Bachelor of Technology)">Mechatronics
                            Engineering (4 Years, Bachelor of Technology)</option>
                        <option
                            value="Metallurgical Engineering & Materials Science (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Metallurgical Engineering & Materials Science (5 Years, Bachelor and Master of Technology
                            (Dual Degree))</option>
                        <option value="Metallurgical Engineering (4 Years, Bachelor of Technology)">Metallurgical
                            Engineering (4 Years, Bachelor of Technology)</option>
                        <option
                            value="Metallurgical Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Metallurgical Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))
                        </option>
                        <option
                            value="Metallurgical Engineering and Materials Science (4 Years, Bachelor of Technology)">
                            Metallurgical Engineering and Materials Science (4 Years, Bachelor of Technology)</option>
                        <option
                            value="Metallurgical Engineering and Materials Science with M.Tech. in Ceramics and Composites (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Metallurgical Engineering and Materials Science with M.Tech. in Ceramics and Composites (5
                            Years, Bachelor and Master of Technology (Dual Degree))</option>
                        <option
                            value="Metallurgical Engineering and Materials Science with M.Tech. in Metallurgical Process Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Metallurgical Engineering and Materials Science with M.Tech. in Metallurgical Process
                            Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
                        <option value="Metallurgical and Materials Engineering (4 Years, Bachelor of Technology)">
                            Metallurgical and Materials Engineering (4 Years, Bachelor of Technology)</option>
                        <option
                            value="Metallurgical and Materials Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Metallurgical and Materials Engineering (5 Years, Bachelor and Master of Technology (Dual
                            Degree))</option>
                        <option
                            value="Metallurgical and Materials Engineering and M.Tech. in Materials Science and Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Metallurgical and Materials Engineering and M.Tech. in Materials Science and Engineering (5
                            Years, Bachelor and Master of Technology (Dual Degree))</option>
                        <option value="Mineral Engineering (4 Years, Bachelor of Technology)">Mineral Engineering (4
                            Years, Bachelor of Technology)</option>
                        <option value="Mineral and Metallurgical Engineering (4 Years, Bachelor of Technology)">Mineral
                            and Metallurgical Engineering (4 Years, Bachelor of Technology)</option>
                        <option value="Mining Engineering (4 Years, Bachelor of Technology)">Mining Engineering (4
                            Years, Bachelor of Technology)</option>
                        <option value="Mining Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Mining Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))</option>
                        <option value="Mining Machinery Engineering (4 Years, Bachelor of Technology)">Mining Machinery
                            Engineering (4 Years, Bachelor of Technology)</option>
                        <option
                            value="Mining Safety Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Mining Safety Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))
                        </option>
                        <option value="Naval Architecture and Ocean Engineering (4 Years, Bachelor of Technology)">Naval
                            Architecture and Ocean Engineering (4 Years, Bachelor of Technology)</option>
                        <option
                            value="Naval Architecture and Ocean Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Naval Architecture and Ocean Engineering (5 Years, Bachelor and Master of Technology (Dual
                            Degree))</option>
                        <option value="Ocean Engineering and Naval Architecture (4 Years, Bachelor of Technology)">Ocean
                            Engineering and Naval Architecture (4 Years, Bachelor of Technology)</option>
                        <option
                            value="Ocean Engineering and Naval Architecture (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Ocean Engineering and Naval Architecture (5 Years, Bachelor and Master of Technology (Dual
                            Degree))</option>
                        <option value="Petroleum Engineering (4 Years, Bachelor of Technology)">Petroleum Engineering (4
                            Years, Bachelor of Technology)</option>
                        <option value="Pharmaceutical Engineering & Technology (4 Years, Bachelor of Technology)">
                            Pharmaceutical Engineering & Technology (4 Years, Bachelor of Technology)</option>
                        <option
                            value="Pharmaceutical Engineering & Technology (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Pharmaceutical Engineering & Technology (5 Years, Bachelor and Master of Technology (Dual
                            Degree))</option>
                        <option value="Pharmaceutics (4 Years, Bachelor of Pharmaceutics)">Pharmaceutics (4 Years,
                            Bachelor of Pharmaceutics)</option>
                        <option value="Pharmaceutics (5 Years, Bachelor and Master of Pharmaceutics(Dual Degree))">
                            Pharmaceutics (5 Years, Bachelor and Master of Pharmaceutics(Dual Degree))</option>
                        <option value="Physics (4 Years, Bachelor of Science)">Physics (4 Years, Bachelor of Science)
                        </option>
                        <option value="Physics (5 Years, Bachelor of Science and Master of Science (Dual Degree))">
                            Physics (5 Years, Bachelor of Science and Master of Science (Dual Degree))</option>
                        <option value="Physics (5 Years, Integrated Master of Science)">Physics (5 Years, Integrated
                            Master of Science)</option>
                        <option value="Physics with Specialization (4 Years, Bachelor of Science)">Physics with
                            Specialization (4 Years, Bachelor of Science)</option>
                        <option value="Polymer Science and Engineering (4 Years, Bachelor of Technology)">Polymer
                            Science and Engineering (4 Years, Bachelor of Technology)</option>
                        <option value="Production and Industrial Engineering (4 Years, Bachelor of Technology)">
                            Production and Industrial Engineering (4 Years, Bachelor of Technology)</option>
                        <option
                            value="Quality Engineering Design and Manufacturing (5 Years, Bachelor and Master of Technology (Dual Degree))">
                            Quality Engineering Design and Manufacturing (5 Years, Bachelor and Master of Technology
                            (Dual Degree))</option>
                        <option value="Statistics and Data Science (4 Years, Bachelor of Science)">Statistics and Data
                            Science (4 Years, Bachelor of Science)</option>
                        <option value="Textile Technology (4 Years, Bachelor of Technology)">Textile Technology (4
                            Years, Bachelor of Technology)</option>
                    </select>
                </div>

                <div id="genderGroup" class="gender-group" style="display: none;">
                    <label for="gender">Gender:</label>
                    <select id="gender" name="gender" oninput="toggleCatField()">
                        <option selected="selected" value="0">select an option</option>
                        <option value="Gender-Neutral">Gender-Neutral</option>
                        <option value="Female-only (including Supernumerary)">Female-only (including Supernumerary)
                        </option>
                    </select>
                </div>
                <div id="cat_group" class="cat-group" style="display: none;">
                    <label for="category">Category:</label>
                    <select id="category" name="category" oninput="toggleYearField()">
                        <option value="none" selected disabled hidden>Select an Option</option>
                        <option value="OPEN">OPEN</option>
                        <option value="OBC-NCL">OBC-NCL</option>
                        <option value="EWS">EWS</option>
                        <option value="SC">SC</option>
                        <option value="ST">ST</option>
                    </select>
                </div>

                <div id="year_group" class="year-group" style="display: none;">
                    <label for="year">Year:</label>
                    <select id="year" name="year" oninput="toggleRoundField()">
                        <option value="none" selected disabled hidden>Select an Option</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <!-- Add more options for other years -->
                    </select>
                </div>

                <div id="round_group" class="round-group" style="display: none;">
                    <label for="round_number">Round :</label>
                    <select id="round_number" name="round_number">
                        <option value="none" selected disabled hidden>Select an Option</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <!-- Add more options for other round numbers -->
                    </select>
                </div>
            </div>

            <div class="button">
                <button type="submit">Submit</button>
            </div>
        </form>

        <div class="cont_2">
            {% if br_data %}
            <!---<h2>Cutoff Analysis Results</h2>-->
            <table>
                <thead>
                    <tr>
                        <th>Institute</th>
                        <th>Year</th>
                        <th>Branch</th>
                        <th>Category</th>
                        <th>Gender</th>
                        <th>Opening Rank</th>
                        <th>Closing Rank</th>
                        <th>Round Number</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in br_data %}
                    <tr>
                        <td>{{ data.Institute_name }}</td>
                        <td>{{ data.year }}</td>
                        <td>{{ data.branch }}</td>
                        <td>{{ data.category }}</td>
                        <td>{{ data.gender }}</td>
                        <td>{{ data.opening_rank }}</td>
                        <td>{{ data.closing_rank }}</td>
                        <td>{{ data.round_no }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No cutoff data available for the selected options reason might be either the selected
                branch/reservation(gender or category) not introduced in the selected year</p>
            {% endif %}
        </div>
    </div>
    <script>
        function toggleGenderField() {
            var branchInput = document.getElementById("branch");
            var genderGroup = document.getElementById("genderGroup");

            if (branchInput.value !== "") {
                genderGroup.style.display = "block";
                genderGroup.style.transition = "display 2s"; // Adjust the transition duration as needed
            } else {
                genderGroup.style.display = "none";
                genderGroup.style.transition = "display 2s"; // Adjust the transition duration as needed
            }
        }


        function toggleCatField() {
            var genderGroup = document.getElementById("genderGroup");
            var categoryGroup = document.getElementsByClassName("cat-group")[0];
            var genderSelect = document.getElementById("gender");

            if (genderSelect.value !== "0") {
                genderGroup.style.display = "block";
                categoryGroup.style.display = "block";
            } else {
                genderGroup.style.display = "none";
                categoryGroup.style.display = "none";
            }
        }

        function toggleYearField() {
            var categoryGroup = document.getElementById("cat_group");
            var yearGroup = document.getElementById("year_group");
            var categorySelect = document.getElementById("category");

            if (categorySelect.value !== "none") {
                categoryGroup.style.display = "block";
                yearGroup.style.display = "block";
            } else {
                categoryGroup.style.display = "none";
                yearGroup.style.display = "none";
            }
        }

        function toggleRoundField() {
            var yearGroup = document.getElementById("year_group");
            var roundGroup = document.getElementById("round_group");
            var categorySelect = document.getElementById("year");

            if (categorySelect.value !== "none") {
                roundGroup.style.display = "block";
                yearGroup.style.display = "block";
            } else {
                roundGroup.style.display = "none";
                yearGroup.style.display = "none";
            }
        }
    </script>

</body>

</html>